.login-form {
    margin: 5% auto;
    min-width: 150px;
    max-width: 300px;
    width: 100%;
}
h2{
    text-align: center;
}
.full-width-field {
    width: 100%;
}
button {
    margin: 10% auto;
    display:block;
}