<div mat-dialog-content style="text-align: center">
  <img mat-card-image src={{data.imagePath}} style="text-align: center;width: 200px;height:250px" alt="Book Image">
  <table style="width: 100%;border: 1px solid black">

    <tr style="line-height: 30px">
      <th>Name</th>
      <td>{{data.name}}</td>
    </tr>
    <tr style="line-height: 30px">
      <th>Author</th>
      <td>{{data.author}}</td>
    </tr>
    <tr style="line-height: 30px">
      <th>ISBN</th>
      <td>{{data.isbn}}</td>
    </tr>
    <tr style="line-height: 30px">
      <th>Description</th>
      <td>{{data.description}}</td>
    </tr>
    <tr style="line-height: 30px">
      <th>No. of copies</th>
      <td>{{data.copies}}</td>
    </tr>
    <tr style="line-height: 30px">
      <th>Book Status</th>
      <td>
        <span style="color:green" *ngIf="bookStatus"><b>Available</b></span>
        <span style="color:red" *ngIf="!bookStatus"><b>Not Available</b></span>
      </td>
    </tr>
  </table>
</div>
<div>
  <div style="float:right;margin-top: 25px;">
    <span *ngIf="data.bookStatus"><button mat-raised-button color="primary" (click)="onIssueBook()" style="margin: 0 15px">Issue
        Book(Self)</button></span>
    <button mat-raised-button color="primary" [mat-dialog-close]="data.animal" cdkFocusInitial>Close</button>
  </div>
</div>